/* ID ye style yazmayız */

:root {
    --navbar-height: 70px;
    --navbar-height-n: -70px;
    --bg-color: #1c1f35;
}

a {
    text-decoration: none;
}
.p-7 {
    padding: 7rem;
}

.bg-main-blue {
    background-color: #091242;
}
.bg-main-light {
    background-color: #f4f4f4;
}

.bg-two-color {
    background: linear-gradient(90deg, #091242 50%, #f4f4f4 50%);
}

.bg-main-blue.bg-opacity-25 {
    background-color: rgba(9, 18, 67, 0.5);
}

.header-wrapper {
    padding: 46px;
    /* 0 değeri girildiğinde px girilmez - validation hatası */
}

.logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111c55;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #273270;
    margin-right: 15px;
    height: 60px;
    width: 60px;
}

.info-wrapper {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: flex-start;
}

.info-wrapper a {
    color: #ffffff;
    text-decoration: none;
}

.slider-wrapper {
    margin-top: var(--navbar-height-n);
}

.navbar {
    height: var(--navbar-height);
}

.navbar-social-media {
    display: flex;
    gap: 10px;
    /* margin-right: 15px; */
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}

.icon.icon-instagram {
    background-image: url("../img/icon/Instagram.svg");
}

.icon.icon-facebook {
    background-image: url("../img/icon/facebook.svg");
}

.icon.icon-linkedin {
    background-image: url("../img/icon/linkedin.svg");
}

.icon.icon-twitter {
    background-image: url("../img/icon/twitter.svg");
}

.icon-star {
    background-image: url("../img/icon/star.svg");
}
.icon-star.deactive {
    background-image: url("../img/icon/star-gray.svg");
}

.quick-navbar-button {
    text-decoration: none;
    display: flex;
    background-color: #ffffff;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    color: #000;
    margin-left: 50px;
}

.navbar-end {
    display: flex;
    height: 100%;
    align-items: center;
}

.section-top-info {
    background-color: #e8e8e8;
    display: inline-block;
    padding: 8px 4px;
    position: relative;
}

.section-top-info::before {
    position: absolute;
    content: "";
    width: 4px;
    left: -4px;
    height: 100%;
    display: block;
    top: 0;
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
}

.feature-card {
    display: flex;
    margin-bottom: 70px;
}

.feature-card-image {
    margin-right: 40px;
}

.feature-card-image img {
    height: 50px;
    width: 76px;
}

.feature-card-info {
    border-left: 1px solid #d8d8d8;
    padding-left: 25px;
}

.feature-card-info p {
    color: #666c89;
}

.feature-card-info .title {
    color: #1c1f35;
}

.logistics-section .container {
    margin-top: -60px;
}

.global-logistics-wrapper {
    background-color: #ffffff;
    position: relative;
    padding: 70px;
}

.global-logistics-wrapper .image-two {
    display: block;
    position: absolute;
    border-right: 25px solid #ffffff;
    border-top: 25px solid #ffffff;
    margin-top: 200px;
    margin-left: -50px;
}

.card-blog {
    position: relative;
}

.card-blog-content {
    z-index: 2;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 84%);
    padding: 20px;
}

.card-blog-info {
    color: #ffb629;
}

.card-blog-title {
    color: #ffffff;
}

.transporting-main-wrapper {
    display: inline;
}

.transporting-wrapper {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: -300px;
}

.transporting-bg {
    display: flex;

    width: 100%;
    height: 400px;
    margin-top: 300px;
    justify-content: center;
    align-items: center;

    background: linear-gradient(95deg, #ffb629 -1.19%, #ffda56 57.78%, #ffd7a6 115.08%);
}

.morework-btn {
    display: inline-block;
    background-color: #091242;
    padding: 19px 56px;
    margin: 60px auto 0 auto;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.btn-no-border {
    border: 0 none;
    background-color: transparent;
}

.comments-button-prev {
    background-image: url("../img/icon/left-arrow.svg");
}
.comments-button-next {
    background-image: url("../img/icon/right-arrow.svg");
}

.comments-button {
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    transition: all 200ms;
}
.comments-button.swiper-button-disabled {
    opacity: 0.5;
}

.fly-img-wrapper {
    position: relative;
    width: 120%;
    height: 100%;
}

.fly-img-wrapper img {
    object-fit: cover;
}
.fly-img-content {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.fly-img-right {
    padding: 3rem 3rem 3rem 6rem;
}

.card-user-wrapper {
    background-color: #666c89;
}

.card-user-info {
    background-color: #1c1f35;
}

/* Bundan sonrası scss*/

.team-mate {
    position: relative;
    background-color: #b2b1b1;

    &-social {
        position: absolute;
        margin-top: -25px;
        background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);

        & i {
            filter: brightness(0) saturate(100%);
        }
    }
}

.contact-form {
    & input {
        padding: 16px;
        border: solid 1px #4e5683;
        background-color: transparent;
        color: #ffffff;

        &::placeholder {
            /* Fİrefox */
            color: #ffffff;
            opacity: 1;
        }
        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: #ffffff;
        }
    }

    & textarea {
        padding: 16px;
        width: 100%;
        height: 120px;
        border: solid 1px #4e5683;
        background-color: transparent;
        color: #ffffff;

        &::placeholder {
            /* Fİrefox */
            color: #ffffff;
            opacity: 1;
        }
        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: #ffffff;
        }
    }

    & .submit-btn-wrapper {
        & button {
            padding: 19px 34px;
            background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
        }
    }
}

.card-brand {
    position: relative;
    img {
        width: 100%;
    }

    &::after {
        content: "";
        inset: 0;
        display: block;
        position: absolute;
        background: rgb(9, 18, 66);
        background: linear-gradient(0deg, rgba(9, 18, 66, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
        height: 100%;
    }
    &-logo {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.blog-list {
    .blog-image {
        position: relative;

        & img {
            width: auto;
            height: 300px;
            object-fit: cover;
        }
        &-hover {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f4f4f4;
            position: absolute;
            inset: 0;
            width: 80%;
            height: 80%;
            margin: auto;
            background-color: rgb(10, 19, 66, 0.9);
            opacity: 0;
            visibility: hidden;
        }
        &:hover .blog-image-hover {
            transition: all 200ms;
            opacity: 1;
            visibility: visible;
        }
    }
    .blog-title {
        color: #000;
        &:hover {
            color: #ffb629;
        }
    }

    .icon {
        width: 51px;
        height: 56px;
        background-repeat: no-repeat;
        background-size: contain;

        &.icon-date {
            background-image: url("../img/icon/calendar.svg");
        }
    }

    .info-month {
        display: block;
        width: 100%;
    }
}
.more-blog-btn {
    color: #ffffff;
    font-size: 16px;
    padding: 20px 60px;
}

.bg-footer-image {
    position: relative;
    background-image: url("../img/background/bg-footer.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 300px;

    &::after {
        content: "";
        inset: 0;
        display: block;
        position: absolute;
        background: rgba(9, 18, 66, 0.5);
        width: 100%;
        height: 100%;
    }
}

.footer {
    &-title {
        display: flex;
        color: #ffffff;

        height: 100%;
        align-items: center;
        justify-content: start;
        padding-left: 15px;
    }

    &-top {
        background-color: #231751;
    }

    &-center {
        &-menu {
            padding-left: 15px;
            ul {
                list-style: none;
                padding: 0;
            }

            li {
                padding: 10px 5px;
                &:hover {
                    padding-left: 15px;
                    transition: all 100ms;
                }
            }
            a {
                color: #ffffff;
            }
        }
        &-form {
            & input {
                padding: 16px;
                border: solid 1px #4e5683;
                background-color: transparent;
                color: #ffffff;
            }

            & input[type="button"] {
                color: #000;
                padding: 10px 18px;
                background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
            }
        }
    }
    &-bottom {
        &-link {
            & a {
                color: #ffffff;

                &:hover {
                    color: #666c89;
                }
            }
        }
    }
}
